/* General Styles */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; /* Esto asegura que el contenido esté centrado verticalmente */
}

/* Header and Logo */
header {
    padding: 20px;
    background-color: #121212;
}

.logo img {
    width: 150px;
}

h1 {
    color: #39FF14; /* Verde neón */
    margin: 20px 0;
}

#hero h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.2rem;
}

/* Form Section */
#form-section {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px; /* Limita el tamaño máximo del formulario */
}

label, input, select {
    display: block;
    width: 100%;
    margin: 10px 0;
}

input, select {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #39FF14;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}

button:hover {
    background-color: #32cd32;
}

/* Gallery Section */
#gallery {
    padding: 40px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-container img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #121212;
    padding: 20px;
    color: #777;
}

footer p {
    margin: 0;
}
